@model Alps_Hiking.Entities.Slider

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Slider</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dd class="col-sm-12">
            <img style="width:250px;height:250px;object-fit:contain;border-radius:0%" src="~/assets/images/slider/@Model.ImagePath" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Button)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Button)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
