@model Tour
@{
    ViewData["Title"] = "Detail Page";
    List<Tour> related = ViewBag.Relateds;
    List<Comment> comment = ViewBag.Comment;

}


@section Link {
    <link rel="stylesheet" href="~/assets/scss/detail.css">
}

<main>
    <section id="slider">
        <div class="mainphoto">
            <img src="~/assets/images/slider/pexels-baskin-creative-studios-1480799.jpg" alt="">
        </div>
        <div id="titles">
            <div class="container">
                <div class="row">
                    <ul class="col-lg-10">
                        <li>
                            <div class="wrapper">
                                <a class="cta" href="#details">
                                    <span>Detail</span>
                                    <span>
                                        <svg width="26px" height="20px" viewBox="0 0 66 43" version="1.1"
                                             xmlns="http://www.w3.org/2000/svg"
                                             xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <g id="arrow" stroke="none" stroke-width="1" fill="none"
                                               fill-rule="evenodd">
                                                <path class="one"
                                                      d="M40.1543933,3.89485454 L43.9763149,0.139296592 C44.1708311,-0.0518420739 44.4826329,-0.0518571125 44.6771675,0.139262789 L65.6916134,20.7848311 C66.0855801,21.1718824 66.0911863,21.8050225 65.704135,22.1989893 C65.7000188,22.2031791 65.6958657,22.2073326 65.6916762,22.2114492 L44.677098,42.8607841 C44.4825957,43.0519059 44.1708242,43.0519358 43.9762853,42.8608513 L40.1545186,39.1069479 C39.9575152,38.9134427 39.9546793,38.5968729 40.1481845,38.3998695 C40.1502893,38.3977268 40.1524132,38.395603 40.1545562,38.3934985 L56.9937789,21.8567812 C57.1908028,21.6632968 57.193672,21.3467273 57.0001876,21.1497035 C56.9980647,21.1475418 56.9959223,21.1453995 56.9937605,21.1432767 L40.1545208,4.60825197 C39.9574869,4.41477773 39.9546013,4.09820839 40.1480756,3.90117456 C40.1501626,3.89904911 40.1522686,3.89694235 40.1543933,3.89485454 Z"
                                                      fill="#FFFFFF"></path>
                                                <path class="two"
                                                      d="M20.1543933,3.89485454 L23.9763149,0.139296592 C24.1708311,-0.0518420739 24.4826329,-0.0518571125 24.6771675,0.139262789 L45.6916134,20.7848311 C46.0855801,21.1718824 46.0911863,21.8050225 45.704135,22.1989893 C45.7000188,22.2031791 45.6958657,22.2073326 45.6916762,22.2114492 L24.677098,42.8607841 C24.4825957,43.0519059 24.1708242,43.0519358 23.9762853,42.8608513 L20.1545186,39.1069479 C19.9575152,38.9134427 19.9546793,38.5968729 20.1481845,38.3998695 C20.1502893,38.3977268 20.1524132,38.395603 20.1545562,38.3934985 L36.9937789,21.8567812 C37.1908028,21.6632968 37.193672,21.3467273 37.0001876,21.1497035 C36.9980647,21.1475418 36.9959223,21.1453995 36.9937605,21.1432767 L20.1545208,4.60825197 C19.9574869,4.41477773 19.9546013,4.09820839 20.1480756,3.90117456 C20.1501626,3.89904911 20.1522686,3.89694235 20.1543933,3.89485454 Z"
                                                      fill="#FFFFFF"></path>
                                                <path class="three"
                                                      d="M0.154393339,3.89485454 L3.97631488,0.139296592 C4.17083111,-0.0518420739 4.48263286,-0.0518571125 4.67716753,0.139262789 L25.6916134,20.7848311 C26.0855801,21.1718824 26.0911863,21.8050225 25.704135,22.1989893 C25.7000188,22.2031791 25.6958657,22.2073326 25.6916762,22.2114492 L4.67709797,42.8607841 C4.48259567,43.0519059 4.17082418,43.0519358 3.97628526,42.8608513 L0.154518591,39.1069479 C-0.0424848215,38.9134427 -0.0453206733,38.5968729 0.148184538,38.3998695 C0.150289256,38.3977268 0.152413239,38.395603 0.154556228,38.3934985 L16.9937789,21.8567812 C17.1908028,21.6632968 17.193672,21.3467273 17.0001876,21.1497035 C16.9980647,21.1475418 16.9959223,21.1453995 16.9937605,21.1432767 L0.15452076,4.60825197 C-0.0425130651,4.41477773 -0.0453986756,4.09820839 0.148075568,3.90117456 C0.150162624,3.89904911 0.152268631,3.89694235 0.154393339,3.89485454 Z"
                                                      fill="#FFFFFF"></path>
                                            </g>
                                        </svg>
                                    </span>
                                </a>
                            </div>
                        </li>

                        <li>
                            <div class="wrapper">
                                <a class="cta" href="#photos">
                                    <span>Photos</span>
                                    <span>
                                        <svg width="26px" height="20px" viewBox="0 0 66 43" version="1.1"
                                             xmlns="http://www.w3.org/2000/svg"
                                             xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <g id="arrow" stroke="none" stroke-width="1" fill="none"
                                               fill-rule="evenodd">
                                                <path class="one"
                                                      d="M40.1543933,3.89485454 L43.9763149,0.139296592 C44.1708311,-0.0518420739 44.4826329,-0.0518571125 44.6771675,0.139262789 L65.6916134,20.7848311 C66.0855801,21.1718824 66.0911863,21.8050225 65.704135,22.1989893 C65.7000188,22.2031791 65.6958657,22.2073326 65.6916762,22.2114492 L44.677098,42.8607841 C44.4825957,43.0519059 44.1708242,43.0519358 43.9762853,42.8608513 L40.1545186,39.1069479 C39.9575152,38.9134427 39.9546793,38.5968729 40.1481845,38.3998695 C40.1502893,38.3977268 40.1524132,38.395603 40.1545562,38.3934985 L56.9937789,21.8567812 C57.1908028,21.6632968 57.193672,21.3467273 57.0001876,21.1497035 C56.9980647,21.1475418 56.9959223,21.1453995 56.9937605,21.1432767 L40.1545208,4.60825197 C39.9574869,4.41477773 39.9546013,4.09820839 40.1480756,3.90117456 C40.1501626,3.89904911 40.1522686,3.89694235 40.1543933,3.89485454 Z"
                                                      fill="#FFFFFF"></path>
                                                <path class="two"
                                                      d="M20.1543933,3.89485454 L23.9763149,0.139296592 C24.1708311,-0.0518420739 24.4826329,-0.0518571125 24.6771675,0.139262789 L45.6916134,20.7848311 C46.0855801,21.1718824 46.0911863,21.8050225 45.704135,22.1989893 C45.7000188,22.2031791 45.6958657,22.2073326 45.6916762,22.2114492 L24.677098,42.8607841 C24.4825957,43.0519059 24.1708242,43.0519358 23.9762853,42.8608513 L20.1545186,39.1069479 C19.9575152,38.9134427 19.9546793,38.5968729 20.1481845,38.3998695 C20.1502893,38.3977268 20.1524132,38.395603 20.1545562,38.3934985 L36.9937789,21.8567812 C37.1908028,21.6632968 37.193672,21.3467273 37.0001876,21.1497035 C36.9980647,21.1475418 36.9959223,21.1453995 36.9937605,21.1432767 L20.1545208,4.60825197 C19.9574869,4.41477773 19.9546013,4.09820839 20.1480756,3.90117456 C20.1501626,3.89904911 20.1522686,3.89694235 20.1543933,3.89485454 Z"
                                                      fill="#FFFFFF"></path>
                                                <path class="three"
                                                      d="M0.154393339,3.89485454 L3.97631488,0.139296592 C4.17083111,-0.0518420739 4.48263286,-0.0518571125 4.67716753,0.139262789 L25.6916134,20.7848311 C26.0855801,21.1718824 26.0911863,21.8050225 25.704135,22.1989893 C25.7000188,22.2031791 25.6958657,22.2073326 25.6916762,22.2114492 L4.67709797,42.8607841 C4.48259567,43.0519059 4.17082418,43.0519358 3.97628526,42.8608513 L0.154518591,39.1069479 C-0.0424848215,38.9134427 -0.0453206733,38.5968729 0.148184538,38.3998695 C0.150289256,38.3977268 0.152413239,38.395603 0.154556228,38.3934985 L16.9937789,21.8567812 C17.1908028,21.6632968 17.193672,21.3467273 17.0001876,21.1497035 C16.9980647,21.1475418 16.9959223,21.1453995 16.9937605,21.1432767 L0.15452076,4.60825197 C-0.0425130651,4.41477773 -0.0453986756,4.09820839 0.148075568,3.90117456 C0.150162624,3.89904911 0.152268631,3.89694235 0.154393339,3.89485454 Z"
                                                      fill="#FFFFFF"></path>
                                            </g>
                                        </svg>
                                    </span>
                                </a>
                            </div>
                        </li>

                        <li>
                            <div class="wrapper">
                                <a class="cta" href="#itinerary">
                                    <span>Itinerary</span>
                                    <span>
                                        <svg width="26px" height="20px" viewBox="0 0 66 43" version="1.1"
                                             xmlns="http://www.w3.org/2000/svg"
                                             xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <g id="arrow" stroke="none" stroke-width="1" fill="none"
                                               fill-rule="evenodd">
                                                <path class="one"
                                                      d="M40.1543933,3.89485454 L43.9763149,0.139296592 C44.1708311,-0.0518420739 44.4826329,-0.0518571125 44.6771675,0.139262789 L65.6916134,20.7848311 C66.0855801,21.1718824 66.0911863,21.8050225 65.704135,22.1989893 C65.7000188,22.2031791 65.6958657,22.2073326 65.6916762,22.2114492 L44.677098,42.8607841 C44.4825957,43.0519059 44.1708242,43.0519358 43.9762853,42.8608513 L40.1545186,39.1069479 C39.9575152,38.9134427 39.9546793,38.5968729 40.1481845,38.3998695 C40.1502893,38.3977268 40.1524132,38.395603 40.1545562,38.3934985 L56.9937789,21.8567812 C57.1908028,21.6632968 57.193672,21.3467273 57.0001876,21.1497035 C56.9980647,21.1475418 56.9959223,21.1453995 56.9937605,21.1432767 L40.1545208,4.60825197 C39.9574869,4.41477773 39.9546013,4.09820839 40.1480756,3.90117456 C40.1501626,3.89904911 40.1522686,3.89694235 40.1543933,3.89485454 Z"
                                                      fill="#FFFFFF"></path>
                                                <path class="two"
                                                      d="M20.1543933,3.89485454 L23.9763149,0.139296592 C24.1708311,-0.0518420739 24.4826329,-0.0518571125 24.6771675,0.139262789 L45.6916134,20.7848311 C46.0855801,21.1718824 46.0911863,21.8050225 45.704135,22.1989893 C45.7000188,22.2031791 45.6958657,22.2073326 45.6916762,22.2114492 L24.677098,42.8607841 C24.4825957,43.0519059 24.1708242,43.0519358 23.9762853,42.8608513 L20.1545186,39.1069479 C19.9575152,38.9134427 19.9546793,38.5968729 20.1481845,38.3998695 C20.1502893,38.3977268 20.1524132,38.395603 20.1545562,38.3934985 L36.9937789,21.8567812 C37.1908028,21.6632968 37.193672,21.3467273 37.0001876,21.1497035 C36.9980647,21.1475418 36.9959223,21.1453995 36.9937605,21.1432767 L20.1545208,4.60825197 C19.9574869,4.41477773 19.9546013,4.09820839 20.1480756,3.90117456 C20.1501626,3.89904911 20.1522686,3.89694235 20.1543933,3.89485454 Z"
                                                      fill="#FFFFFF"></path>
                                                <path class="three"
                                                      d="M0.154393339,3.89485454 L3.97631488,0.139296592 C4.17083111,-0.0518420739 4.48263286,-0.0518571125 4.67716753,0.139262789 L25.6916134,20.7848311 C26.0855801,21.1718824 26.0911863,21.8050225 25.704135,22.1989893 C25.7000188,22.2031791 25.6958657,22.2073326 25.6916762,22.2114492 L4.67709797,42.8607841 C4.48259567,43.0519059 4.17082418,43.0519358 3.97628526,42.8608513 L0.154518591,39.1069479 C-0.0424848215,38.9134427 -0.0453206733,38.5968729 0.148184538,38.3998695 C0.150289256,38.3977268 0.152413239,38.395603 0.154556228,38.3934985 L16.9937789,21.8567812 C17.1908028,21.6632968 17.193672,21.3467273 17.0001876,21.1497035 C16.9980647,21.1475418 16.9959223,21.1453995 16.9937605,21.1432767 L0.15452076,4.60825197 C-0.0425130651,4.41477773 -0.0453986756,4.09820839 0.148075568,3.90117456 C0.150162624,3.89904911 0.152268631,3.89694235 0.154393339,3.89485454 Z"
                                                      fill="#FFFFFF"></path>
                                            </g>
                                        </svg>
                                    </span>
                                </a>
                            </div>
                        </li>

                        <li>
                            <div class="wrapper">
                                <a class="cta" href="#map">
                                    <span>Map</span>
                                    <span>
                                        <svg width="26px" height="20px" viewBox="0 0 66 43" version="1.1"
                                             xmlns="http://www.w3.org/2000/svg"
                                             xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <g id="arrow" stroke="none" stroke-width="1" fill="none"
                                               fill-rule="evenodd">
                                                <path class="one"
                                                      d="M40.1543933,3.89485454 L43.9763149,0.139296592 C44.1708311,-0.0518420739 44.4826329,-0.0518571125 44.6771675,0.139262789 L65.6916134,20.7848311 C66.0855801,21.1718824 66.0911863,21.8050225 65.704135,22.1989893 C65.7000188,22.2031791 65.6958657,22.2073326 65.6916762,22.2114492 L44.677098,42.8607841 C44.4825957,43.0519059 44.1708242,43.0519358 43.9762853,42.8608513 L40.1545186,39.1069479 C39.9575152,38.9134427 39.9546793,38.5968729 40.1481845,38.3998695 C40.1502893,38.3977268 40.1524132,38.395603 40.1545562,38.3934985 L56.9937789,21.8567812 C57.1908028,21.6632968 57.193672,21.3467273 57.0001876,21.1497035 C56.9980647,21.1475418 56.9959223,21.1453995 56.9937605,21.1432767 L40.1545208,4.60825197 C39.9574869,4.41477773 39.9546013,4.09820839 40.1480756,3.90117456 C40.1501626,3.89904911 40.1522686,3.89694235 40.1543933,3.89485454 Z"
                                                      fill="#FFFFFF"></path>
                                                <path class="two"
                                                      d="M20.1543933,3.89485454 L23.9763149,0.139296592 C24.1708311,-0.0518420739 24.4826329,-0.0518571125 24.6771675,0.139262789 L45.6916134,20.7848311 C46.0855801,21.1718824 46.0911863,21.8050225 45.704135,22.1989893 C45.7000188,22.2031791 45.6958657,22.2073326 45.6916762,22.2114492 L24.677098,42.8607841 C24.4825957,43.0519059 24.1708242,43.0519358 23.9762853,42.8608513 L20.1545186,39.1069479 C19.9575152,38.9134427 19.9546793,38.5968729 20.1481845,38.3998695 C20.1502893,38.3977268 20.1524132,38.395603 20.1545562,38.3934985 L36.9937789,21.8567812 C37.1908028,21.6632968 37.193672,21.3467273 37.0001876,21.1497035 C36.9980647,21.1475418 36.9959223,21.1453995 36.9937605,21.1432767 L20.1545208,4.60825197 C19.9574869,4.41477773 19.9546013,4.09820839 20.1480756,3.90117456 C20.1501626,3.89904911 20.1522686,3.89694235 20.1543933,3.89485454 Z"
                                                      fill="#FFFFFF"></path>
                                                <path class="three"
                                                      d="M0.154393339,3.89485454 L3.97631488,0.139296592 C4.17083111,-0.0518420739 4.48263286,-0.0518571125 4.67716753,0.139262789 L25.6916134,20.7848311 C26.0855801,21.1718824 26.0911863,21.8050225 25.704135,22.1989893 C25.7000188,22.2031791 25.6958657,22.2073326 25.6916762,22.2114492 L4.67709797,42.8607841 C4.48259567,43.0519059 4.17082418,43.0519358 3.97628526,42.8608513 L0.154518591,39.1069479 C-0.0424848215,38.9134427 -0.0453206733,38.5968729 0.148184538,38.3998695 C0.150289256,38.3977268 0.152413239,38.395603 0.154556228,38.3934985 L16.9937789,21.8567812 C17.1908028,21.6632968 17.193672,21.3467273 17.0001876,21.1497035 C16.9980647,21.1475418 16.9959223,21.1453995 16.9937605,21.1432767 L0.15452076,4.60825197 C-0.0425130651,4.41477773 -0.0453986756,4.09820839 0.148075568,3.90117456 C0.150162624,3.89904911 0.152268631,3.89694235 0.154393339,3.89485454 Z"
                                                      fill="#FFFFFF"></path>
                                            </g>
                                        </svg>
                                    </span>
                                </a>
                            </div>
                        </li>


                        <li>
                            <div class="wrapper">
                                <a class="cta" href="#relatedtours">
                                    <span>Reviews</span>
                                    <span>
                                        <svg width="26px" height="20px" viewBox="0 0 66 43" version="1.1"
                                             xmlns="http://www.w3.org/2000/svg"
                                             xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <g id="arrow" stroke="none" stroke-width="1" fill="none"
                                               fill-rule="evenodd">
                                                <path class="one"
                                                      d="M40.1543933,3.89485454 L43.9763149,0.139296592 C44.1708311,-0.0518420739 44.4826329,-0.0518571125 44.6771675,0.139262789 L65.6916134,20.7848311 C66.0855801,21.1718824 66.0911863,21.8050225 65.704135,22.1989893 C65.7000188,22.2031791 65.6958657,22.2073326 65.6916762,22.2114492 L44.677098,42.8607841 C44.4825957,43.0519059 44.1708242,43.0519358 43.9762853,42.8608513 L40.1545186,39.1069479 C39.9575152,38.9134427 39.9546793,38.5968729 40.1481845,38.3998695 C40.1502893,38.3977268 40.1524132,38.395603 40.1545562,38.3934985 L56.9937789,21.8567812 C57.1908028,21.6632968 57.193672,21.3467273 57.0001876,21.1497035 C56.9980647,21.1475418 56.9959223,21.1453995 56.9937605,21.1432767 L40.1545208,4.60825197 C39.9574869,4.41477773 39.9546013,4.09820839 40.1480756,3.90117456 C40.1501626,3.89904911 40.1522686,3.89694235 40.1543933,3.89485454 Z"
                                                      fill="#FFFFFF"></path>
                                                <path class="two"
                                                      d="M20.1543933,3.89485454 L23.9763149,0.139296592 C24.1708311,-0.0518420739 24.4826329,-0.0518571125 24.6771675,0.139262789 L45.6916134,20.7848311 C46.0855801,21.1718824 46.0911863,21.8050225 45.704135,22.1989893 C45.7000188,22.2031791 45.6958657,22.2073326 45.6916762,22.2114492 L24.677098,42.8607841 C24.4825957,43.0519059 24.1708242,43.0519358 23.9762853,42.8608513 L20.1545186,39.1069479 C19.9575152,38.9134427 19.9546793,38.5968729 20.1481845,38.3998695 C20.1502893,38.3977268 20.1524132,38.395603 20.1545562,38.3934985 L36.9937789,21.8567812 C37.1908028,21.6632968 37.193672,21.3467273 37.0001876,21.1497035 C36.9980647,21.1475418 36.9959223,21.1453995 36.9937605,21.1432767 L20.1545208,4.60825197 C19.9574869,4.41477773 19.9546013,4.09820839 20.1480756,3.90117456 C20.1501626,3.89904911 20.1522686,3.89694235 20.1543933,3.89485454 Z"
                                                      fill="#FFFFFF"></path>
                                                <path class="three"
                                                      d="M0.154393339,3.89485454 L3.97631488,0.139296592 C4.17083111,-0.0518420739 4.48263286,-0.0518571125 4.67716753,0.139262789 L25.6916134,20.7848311 C26.0855801,21.1718824 26.0911863,21.8050225 25.704135,22.1989893 C25.7000188,22.2031791 25.6958657,22.2073326 25.6916762,22.2114492 L4.67709797,42.8607841 C4.48259567,43.0519059 4.17082418,43.0519358 3.97628526,42.8608513 L0.154518591,39.1069479 C-0.0424848215,38.9134427 -0.0453206733,38.5968729 0.148184538,38.3998695 C0.150289256,38.3977268 0.152413239,38.395603 0.154556228,38.3934985 L16.9937789,21.8567812 C17.1908028,21.6632968 17.193672,21.3467273 17.0001876,21.1497035 C16.9980647,21.1475418 16.9959223,21.1453995 16.9937605,21.1432767 L0.15452076,4.60825197 C-0.0425130651,4.41477773 -0.0453986756,4.09820839 0.148075568,3.90117456 C0.150162624,3.89904911 0.152268631,3.89694235 0.154393339,3.89485454 Z"
                                                      fill="#FFFFFF"></path>
                                            </g>
                                        </svg>
                                    </span>
                                </a>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="details">
        <div class="container">
            <div class="row">
                <div class="leftside col-lg-8">
                    <div class="mainimage">
                        <img src="~/assets/images/toursphotos/@Model.TourImages.FirstOrDefault(ti=>ti.IsMain==true)?.Path" alt="">
                    </div>

                    <div class="about">
                        <div class="name">
                            <span>@Model.Name</span>
                        </div>
                        <div class="reviews">
                            @{
                                double totalrating = 0;
                                double countrating = 0;
                            }
                            @foreach (Comment item in Model.Comments)
                            {
                                totalrating += item.Rating;
                                countrating++;
                            }

                            @{
                                double averageRating = (double)totalrating / countrating;
                            }
                            @if (averageRating == 0)
                            {
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            }
                            @if (averageRating > 0 && averageRating < 1)
                            {
                                <i class="fa-regular fa-star-half-stroke"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>

                            }
                            @if (averageRating == 1)
                            {
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>

                            }
                            @if (averageRating > 1 && averageRating < 2)
                            {
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star-half-stroke"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            }
                            @if (averageRating == 2)
                            {
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>

                            }
                            @if (averageRating > 2 && averageRating < 3)
                            {
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star-half-stroke"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            }
                            @if (averageRating == 3)
                            {
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            }

                            @if (averageRating > 3 && averageRating < 4)
                            {
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star-half-stroke"></i>
                                <i class="fa-regular fa-star"></i>
                            }
                            @if (averageRating == 4)
                            {
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            }
                            @if (averageRating > 4 && averageRating < 5)
                            {
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star-half-stroke"></i>
                            }
                            @if (averageRating == 5)
                            {
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            }
                            <span style="font-weight:600">@averageRating</span>
                            <span>(@Model.Comments.Count Reviews)</span>
                        </div>
                        <div class="detail">
                            <div class="days">
                                <i class="fa-regular fa-clock"></i>
                                <span>@Model.DayCount Days</span>
                            </div>
                            <div class="group">
                                <i class="fa-solid fa-users"></i>
                                <span>Passenger Count: @Model.MaxPassengerCount</span>
                            </div>
                            <div class="walkingtype">
                                <i class="fa-solid fa-campground"></i>
                                <span>@Model.Category.Name</span>
                            </div>
                            <div class="difficulty">
                                <i class="fa-solid fa-binoculars"></i>
                                <span>Difficulty : @Model.Difficulty</span>
                            </div>
                            <div class="pickup">
                                <i class="fa-solid fa-map-location-dot"></i>
                                <span>Pickup: @Model.Pickup</span>
                            </div>
                            <div class="age">
                                <i class="fa-solid fa-user"></i>
                                <span>Min Age : @Model.PassangerAge+</span>
                            </div>
                        </div>
                        <hr>
                        <div class="description">
                            <span>
                                @Model.Description
                            </span>
                        </div>
                        <hr>
                        <div class="recommended-airport">
                            <h6>Recommended Airport</h6>
                            <p>
                                @Model.Airport
                            </p>
                        </div>
                        <hr>
                        <div class="meeting-point">
                            <h6>Meeting Point</h6>
                            <p>@Model.MeetingPoint</p>
                        </div>
                        <hr>
                        <div class="expected">
                            <div class="title">
                                <h4>What To Expect</h4>
                            </div>
                            <div class="desc">
                                <span>
                                    @Model.Expect
                                </span>
                            </div>
                        </div>
                        <hr>
                        <div id="photos">
                            <div class="title">
                                <i class="fa-solid fa-images"></i>
                                <h2>Photos</h4>
                            </div>
                            <div class="allimages">
                                <div class="slider-for">
                                    @foreach (TourImage item in Model.TourImages.Where(ti => ti.IsMain == false))
                                    {
                                        <img style="height:550px;object-fit:cover;" src="~/assets/images/toursphotos/@item.Path"
                                             alt="">
                                    }
                                </div>
                                <div class="slider-nav">
                                    @foreach (TourImage item in Model.TourImages.Where(ti => ti.IsMain == false))
                                    {
                                        <img style="height:180px" src="~/assets/images/toursphotos/@item.Path"
                                             alt="">
                                    }
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div id="itinerary">
                            <div class="title">
                                <i class="fa-solid fa-pen-nib"></i>
                                <h3>Itinerary</h3>
                            </div>
                            <div class="accordion accordion-flush" id="accordionFlushExample">
                                @foreach (Itinerary item in Model.Itineraries)
                                {
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-heading-@item.Day_count">
                                            <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#flush-collapse-@item.Day_count"
                                                    aria-expanded="false" aria-controls="flush-collapse-@item.Day_count">
                                                <p>Day @item.Day_count:</p>
                                            </button>
                                        </h2>
                                        <div id="flush-collapse-@item.Day_count" class="accordion-collapse collapse"
                                             aria-labelledby="flush-heading-@item.Day_count" data-bs-parent="#accordionFlushExample">
                                            <div class="accordion-body">
                                                <p>
                                                    @item.Day
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <hr>
                        <div id="map">
                            <div class="title">
                                <i class="fa-solid fa-map"></i>
                                <h3>Map</h3>
                            </div>
                            @Html.Raw(Model.Map)
                        </div>
                        <hr>





                        <div id="comment">
                            <div class="title mt-5 pt-4 ">
                                <i style="font-size:20px" class="fa-solid fa-comment"></i>
                                <h3 style="display:inline;margin-left:10px">Comments</h3>
                            </div>

                            <div class="card card-outline-secondary my-5">
                                <div class="card-header">
                                    Tour Reviews
                                </div>

                                <div class="card-body">
                                    @{
                                        int count = 0;
                                    }
                                    @foreach (Comment cmt in Model.Comments.OrderByDescending(x => x.TimeStamp))
                                    {
                                        if (cmt.TourId == Model.Id)
                                        {
                                            <div class="comment">
                                                <div style="display:none">
                                                    @(count++)
                                                </div>
                                                @if (User.Identity.Name == cmt.User.UserName)
                                                {
                                                    <div style="display:flex;justify-content:space-between">
                                                        <h5>@cmt.User.Fullname</h5>
                                                        <div class="d-flex justify-content-between">
                                                            <button class=" btn editbutton btn-primary me-2" data-comment-id="@cmt.Id" data-comment-text="@cmt.Text">
                                                                Edit
                                                            </button>

                                                            <form method="post" action="/Tour/DeleteComment" class="deleteArea">

                                                            <button type="submit" name="commentId" value="@cmt.Id" class="delete btn btn-danger">
                                                                Delete
                                                            </button>
                                                               </form>
                                                        </div>
                                                    </div>
                                                    <form class="d-none" asp-controller="Tour" asp-action="UpdateComment" asp-route-commentId="@cmt.Id" method="post">
                                                        <div class="form-group">
                                                            <textarea class="form-control mt-2" name="Text" rows="3">@cmt.Text</textarea>
                                                        </div>
                                                        <button type="submit" class="mt-3 mb-3 btn btn-primary">Save</button>
                                                    </form>
                                                }



                                                @{
                                                    var defaultStars = 5 - cmt.Rating;
                                                }


                                                <p>@cmt.Text</p>
                                                <small class="text-muted">
                                                    Posted on <b>@cmt.TimeStamp</b>
                                                    <div class="text-warning mt-3">

                                                        @for (int i = 1; i <= cmt.Rating; i++)
                                                        {
                                                            <i class=" fas fa-star"></i>

                                                        }

                                                        @for (int i = 1; i <= defaultStars; i++)
                                                        {
                                                            <i class="far fa-star"></i>

                                                        }
                                                    </div>
                                                </small>
                                                <hr>
                                            </div>
                                        }
                                    }


                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <form id="commentForm" action="/Tour/AddComment/@Model.Id" method="post">
                                            <div class="form-group mb-3 mt-4 d-flex justify-content-between">
                                                <label class="">Write Your Comment</label>
                                                <div class="text-warning">
                                                    <i class="ratingStar fas fa-star" data-value="1"></i>
                                                    <i class="ratingStar far fa-star" data-value="2"></i>
                                                    <i class="ratingStar far fa-star" data-value="3"></i>
                                                    <i class="ratingStar far fa-star" data-value="4"></i>
                                                    <i class="ratingStar far fa-star" data-value="5"></i>
                                                </div>
                                                <input type="hidden" name="Rating" id="ratingsValue" value="1">
                                            </div>
                                            <textarea class="form-control" placeholder="Write Your Comment here" name="Text" rows="3"></textarea>
                                            <br>
                                            <button type="submit" class="btn btn-success">Leave a Review</button>
                                        </form>
                                        <div class="text-center" id="loadmore">
                                            <button class="btn btn-dark mt-4" id="loadmorebutton">Load More</button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>






                        <div id="relatedtours">
                            <div class="title">
                                <h2>Related Tours</h2>
                            </div>
                            <div class="allcards">
                                @foreach (var item in related)
                                {
                                    <div class="col-lg-6 col-md-6 relatedtours">
                                        <div class="tour-card">
                                            <div class="image">
                                                <img src="~/assets/images/toursphotos/@item.TourImages.FirstOrDefault(ti=>ti.IsMain==true)?.Path"
                                                     alt="">
                                            </div>
                                            <div class="about">
                                                <div class="leftside">
                                                    <div class="name">
                                                        <h5>@item.Name</h5>
                                                    </div>
                                                    <div class="review">
                                                        <div class="staricons">
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                        </div>
                                                        <span>(3 Reviews)</span>
                                                    </div>
                                                </div>
                                                <div class="rightside">
                                                    <div class="discountprice">
                                                        <del>$@item.DiscountPrice</del>
                                                    </div>
                                                    <div class="price">
                                                        <span>$@item.Price</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                                <div style="text-align:center" id="loadmore">
                                    <button style="padding:15px 30px;text-align:center" class="btn text-center btn-dark mt-5" id="loadmorebutton">Load More</button>
                                </div>
                        </div>
                        <hr>
                    </div>
                </div>

                <div class="rightside col-lg-4">
                    <div class="allsec ms-3">
                        <div class="booking">
                            <h3>Hot Trip</h3>
                            <div class="priceside">
                                <i class="fa-solid fa-tag fa-rotate-90"></i>
                                <span>From</span>
                                <span id="deletedprice"><del>$2,000</del></span>
                                <span id="price">$1,700</span>
                            </div>

                            <div class="bookingform">
                                <span id="title">Booking Form</span>
                               <form asp-controller="tour" asp-action="details" asp-route-id="@Model.Id">
                                    <div class="day">
                                        <i class="fa-regular fa-calendar"></i>
                                        <select name="dateid" style="padding: 10px 20px; border-color: rgb(207, 207, 207);" name="" id="dateselect">
                                            @foreach (TourDate item in Model.TourDates)
                                            {
                                                <option value="@item.Id">@item.TourDates</option>
                                            }
                                        
                                        </select>
                                    </div>

                                    <div class="people">
                                        <i class="fa-solid fa-users"></i>
                                        <select name="count" id="">
                                            <option selected value="">Count</option>
                                            <option  value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                        </select>
                                    </div>
                                    <div class="proceed">
                                        <i class="fa-solid fa-bolt"></i>
                                        <button class="btn btn-primary">Proceed Booking</button>
                                    </div>
                               </form>

                                

                                <div class="wishlist">
                                    <i class="fa-regular fa-heart"></i>
                                    <p>Save To Wishlist</p>
                                </div>
                            </div>
                        </div>

                        <div class="whybookwithus">
                            <h5>Why Book With Us?</h5>
                            <i class="fa-solid fa-dollar-sign"></i>
                            <span>No-hassle best price guarantee</span>
                            <hr>
                            <i class="fa-solid fa-headphones"></i>
                            <span>Customer care available 24/7</span>
                            <hr>
                            <i class="fa-solid fa-star"></i>
                            <span>Hand-picked Tours & Activities</span>
                            <hr>
                            <i class="fa-solid fa-handshake"></i>
                            <span>Free Travel Insureance</span>
                        </div>

                        <div class="getquestion">
                            <h4>Get a Question</h4>
                            <p>Do not hesitage to give us a call. We are an expert team and we are happy to talk to you.</p>
                            <i class="fa-solid fa-phone"></i>
                            <span> +994 51 577 73 47</span>
                            <br>
                            <i class="fa-solid fa-envelope"></i>
                            <span>perviz.elizade.2002@mail.ru</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>
</main>
<style>
    .relatedtours, .comment {
        display: none;
    }
</style>
<script>

    document.addEventListener("DOMContentLoaded", function (event) {
        $(".relatedtours").slice(0, 4).show();
        $("#loadmorebutton").on("click", function (e) {
            e.preventDefault();
            $(".relatedtours:hidden").slice(0, 2).slideDown();
        });

        $(".comment").slice(0, 3).show();
        $("#loadmorebutton").on("click", function (e) {
            e.preventDefault();
            $(".comment:hidden").slice(0, 3).slideDown();
        });

        $(".ratingStar").hover(function () {
            $(".ratingStar").addClass("far").removeClass("fas");
            $(this).addClass("fas").removeClass("far");
            $(this).prevAll(".ratingStar").addClass("fas").removeClass("far");
        });

        $(".ratingStar").click(function () {
            var starValue = $(this).attr("data-value");
            $("#ratingsValue").val(starValue);
        })


        let editbutton = document.querySelectorAll(".editbutton")
        editbutton.forEach(Edit => {
            Edit.addEventListener("click", function () {
                let textarea = Edit.parentElement.parentElement.nextElementSibling;
                textarea.classList.toggle("d-none");
            })
        });

    });



</script>

@section Scripts {
    <script src="~/assets/js/detail.js"></script>
}